doctype html
html(lang='ru')
  head
    title='Test'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon')
    link(rel='manifest' href='/manifest.webmanifest')
    script(src='/javascripts/script.js')
    meta(name='viewport',content='width=device-width, initial-scale=1')
  body
    block content
    footer
      a(href="https://github.com/idevmans") github
    
